@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: center;
  gap: 300px;
}
